[submodule "natnet/natnet"]
	path = natnet/natnet
	url = git@github.com:mje-nz/python-natnet.git
[submodule "python-natnet"]
	path = python-natnet
	url = git@github.com:mje-nz/python-natnet.git
[submodule "python-natnet/python-natnet"]
	path = python-natnet/python-natnet
	url = git@github.com:mje-nz/python-natnet.git
[submodule "python_natnet/python_natnet"]
	path = python_natnet/python_natnet
	url = git@github.com:mje-nz/python-natnet.git
